:root {
    --success: rgb(0, 128, 0);
    --warning: rgb(203, 181, 16);
    --error: rgb(244, 16, 16);
    --success-light: rgba(0, 128, 0, 0.4);
    --warning-light: rgba(203, 181, 16, 0.4);
    --error-light: rgba(244, 16, 16, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f1;
}

.control button {
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    color: white;
    margin: 0 10px;
    cursor: pointer;
}

.success {
    background-color: var(--success);
}

.warning {
    background-color: var(--warning);
}

.error {
    background-color: var(--error);
}

#toasts {
    position: fixed;
    top: 10px;
    right: 10px;
}

.toast {
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 24px;
    border-left: 5px solid var(--success);
    overflow: hidden;
    animation: slide__show 2s ease forwards;
    margin-bottom: 15px;
}

.toast i {
    margin: 0 10px;
}

.toast .countdown {
    background: var(--success);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    animation: countdown 4s ease forwards;
}

@keyframes countdown {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@keyframes slide__show {
    0% {
        transform: translateX(100%);
    }
    25% {
        transform: translateX(-10%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slide__hide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(200%);
    }
}

.toast.success {
    border-left: 5px solid var(--success);
    background-color: var(--success-light);
}

.toast.warning {
    border-left: 5px solid var(--warning);
    background-color: var(--warning-light);
}

.toast.error {
    border-left: 5px solid var(--error);
    background-color: var(--error-light);
}

.toast.success .countdown {
    background-color: var(--success);
}

.toast.warning .countdown {
    background-color: var(--warning);
}

.toast.error .countdown {
    background-color: var(--error);
}